.signin-button {
    margin-right: 30px;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
}

.hero {
    flex: 0.4;
    align-self: stretch;
    background-color: #282c34;
}
